body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spline Sans', sans-serif;
    color: #323232;
    /* background-image:url(/assets/back.jpeg); */
    background-size: cover;
    /* width:500px; */
}



.text{
    display:block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 30px;
    margin-inline-end: 10px;

}

.blue-text{
    color: #00a1ff;
}

textarea:focus, input:focus {
    outline: none;
}
.me{
    border-radius: 100%;
}

#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
    text-align: justify;
    padding:10%;
}

.main-text{
    font-family: Robot;
}

a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    text-align: center;

}

.link:hover{ 
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    text-align: center;

}

.card {
    background-color: #eee;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.header {
    padding-bottom: 30px;
    opacity: 0.8;
    color: #2F4F4F;
    font-size: 25px;
    text-align: left;
}

.header::after {
    content: "";
    width: 280px;
    height: 3px;
    background-color: #2F4F4F;
    display: block;
    margin-top: -25px;
    margin-left: 2px;
}

.card-content label {
    color: #323232;
    font-size: 18px;
    padding: 10px 0;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 2px;
    padding: 5px 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D3D3D3;
    outline: none;
    color: #323232;
    font-size: 14px;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #2F4F4F;
    border: none;
    color: #eee;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
}

.card-footer a {
    text-align: right;
    font-size: 13px;
    opacity: 0.8;
    color: #2F4F4F;
    text-decoration: none;
}

#social-container {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.register-container {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.register-container a {
    font-size: 16px;
    color: #2F4F4F;
}

a:hover {
    color: #000000;
}

#social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #eee;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-f {
    background-color: #3B5993;
}

.fa-linkedin {
    background-color: #0077b5;
}