.me {
    border-radius: 100%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


h1 {
    padding: 5px;
    background: hsla(0,0%,74.9%,.3);
    color: #000;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

body {
    background: #f4f4f4;
    font-weight: lighter;
    font-family: Rubik;
    height: 99vh;
    width: 100vw;
    margin: 0;
    border-top: 3px solid #00a1ff;
}
@media only screen and (min-device-width: 280px) and (max-device-width: 1024px){
    section {
        width: 78%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        background: #e8e8e8;
        border-radius: 11px;
        padding: 28px;
        margin-right: 55px;
    }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 1024px){
    main {
        margin-top: 30px!important;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        width: 100vw!important;
    }
}

.blue-text {
    color: #00a1ff;
    font-family: Rubik;
}


aside {
    display: block;
}

main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-items: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    background: #e8e8e8;
    border-radius: 11px;
    padding: 28px;
    margin-right: 55px;
}


h2 {
    font-size: 40px;
    margin-top: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

article {
    text-align: left;
    width: 100%;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #000;
}