.me {
    border-radius: 100%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


h1 {
    padding: 5px;
    background: hsla(0,0%,74.9%,.3);
    color: #000;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    display:block;
    text-align: center;
    font-weight: bold;
    
}

:-webkit-any(article, aside, nav, section) h1:hover {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    color:whitesmoke;
}

body {
    
    background: #f4f4f4;
    font-weight: lighter;
    font-family: Rubik;
    height: 99vh;
    width: 100vw;
    margin: 0;
    border-top: 2px solid #00a1ff;
    
}
@media only screen and (min-device-width: 280px) and (max-device-width: 1024px){
    section {
        width: 78%;
        margin: 100px auto;
        display: flex;
        flex-wrap: wrap;
        background: #e8e8e8;
        border-radius: 11px;
        padding: 28px;
        margin-right: 55px;
        margin-left: 50px;
    }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 1024px){
    main {
        margin-top: 30px!important;
        display: flex;
        flex-direction:column-reverse;
        height: auto;
        align-items: center;
        width: 100vw!important;
        justify-content:start;
        align-content: normal;

        
    }
}

.blue-text {
    color: #00a1ff;
    font-family: Rubik;
    font-weight: bold;
    font-size: 18px;
}


aside {
    display: block;
}

main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-items: center;
    backdrop-filter: blur(2px);
    

}

section {
    display: flex;
    flex-wrap: wrap;
    background: #e8e8e8;
    border-radius: 11px;
    padding: 28px;
    margin-right: 55px;
    flex-direction: row;
    /* margin-left:40px; */
    
    
    

}


h2 {
    font-size: 40px;
    margin-top: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

article {
    text-align: left;
    width: 100%;
}

a:-webkit-any-link:hover{
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

p{
    font-weight: bold;
}

.text{
    color: #00a1ff;
    font-weight: bold;
    margin-left: 28px;
    font-size: 18px;
    
    
}

.socialLinks {
    display: flex;
    justify-items: auto;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top:0px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}



