<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Spline+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="login-container">
        
        <form action="#" class="card">
            
            <!-- <div class="header">
                <h2>Login</h2>
            </div> -->
            
            <div class="card-content">
                
                <p class="blue-text">About</p>
                        
                            <p class= "main-text" >Hello, my name is Ricardo Neves, and I'm a 3 year experienced Software engineer from Brazil.</p>
                            <p class= "main-text">I'm FullStack, with experience in Angular, .NET, Python, Django and etc.</p>
                            <p class="main-text">For me, focus on people first. We are problem solvers. Technology is a long journey.</p>
                            
                                
                                    <article>
                                        <p class="blue-text"> Latest blog post: </p>
                                        <h1>
                                            <a class="link" href="https://dev.to/ricardodcn/the-first-step-1ee5">The First Step</a>
                                        </h1>
                                    </article>
                                    
            
                </div>
                <aside><img class="me" src="./assets/me.jpg"><p class="nome-dev">ricardoneves.dev</p>
                    <span class="text">Software Engineer</span>
                    <div class="socialLinks"><a href="https://github.com/ricardodcn"><img src="./assets/github.svg"></a><a href="https://dev.to/ricardodcn"><img src="./assets/dev.svg"></a><a href="https://linkedin.com/in/ricardodcn"><img src="./assets/linkedin.svg"></a><a href="mailto:ricardo@ricardoneves.dev"><img src="./assets/mail.svg"></a></div>
        
                 </aside>
                     
        </form>

    </div>
</body>

